# Dependencies

In [1]:
import numpy as np

# NumPy - Structured Array
Doc:
   - [numpy.org/doc/stable/user/basics.rec.html](https://numpy.org/doc/stable/user/basics.rec.html)

## Creating a Simple Structured Array

Data Types:
<table style="width: 48%; float: left; margin-right: 2%;">
  <tr>
    <th style="width: 15%;">Code</th>
    <th style="width: 60%;">Description</th>
    <th style="width: 25%;">Size (Bytes)</th>
  </tr>
  <tr>
    <td>b</td>
    <td>Boolean</td>
    <td>1</td>
  </tr>
  <tr>
    <td>i1</td>
    <td>Integer</td>
    <td>1</td>
  </tr>
  <tr>
    <td>i2</td>
    <td>Integer</td>
    <td>2</td>
  </tr>
  <tr>
    <td>i4</td>
    <td>Integer</td>
    <td>4</td>
  </tr>
  <tr>
    <td>i8</td>
    <td>Integer</td>
    <td>8</td>
  </tr>
  <tr>
    <td>u1</td>
    <td>Unsigned Integer</td>
    <td>1</td>
  </tr>
  <tr>
    <td>u2</td>
    <td>Unsigned Integer</td>
    <td>2</td>
  </tr>
  <tr>
    <td>u4</td>
    <td>Unsigned Integer</td>
    <td>4</td>
  </tr>
  <tr>
    <td>u8</td>
    <td>Unsigned Integer</td>
    <td>8</td>
  </tr>
</table>

<table style="width: 48%; float: left;">
  <tr>
    <th style="width: 15%;">Code</th>
    <th style="width: 60%;">Description</th>
    <th style="width: 25%;">Size (Bytes)</th>
  </tr>
  <tr>
    <td>f4</td>
    <td>Floating-Point</td>
    <td>4</td>
  </tr>
  <tr>
    <td>f8</td>
    <td>Floating-Point</td>
    <td>8</td>
  </tr>
  <tr>
    <td>c8</td>
    <td>Complex Floating-Point</td>
    <td>8</td>
  </tr>
  <tr>
    <td>c16</td>
    <td>Complex Floating-Point</td>
    <td>16</td>
  </tr>
  <tr>
    <td>S</td>
    <td>String (fixed-length)</td>
    <td>n</td>
  </tr>
  <tr>
    <td>U</td>
    <td>Unicode String (fixed-length)</td>
    <td>4 * n</td>
  </tr>
  <tr>
    <td>O</td>
    <td>Object (Python objects)</td>
    <td>Variable</td>
  </tr>
  <tr>
    <td>M</td>
    <td>Date-time</td>
    <td>8</td>
  </tr>
  <tr>
    <td>m</td>
    <td>Time delta</td>
    <td>8</td>
  </tr>
</table>

In [2]:
sa_1 = np.array(
    [('Alice', 30), ('Bob', 25)],
    dtype=[('name', 'U10'), ('age', 'i4')]
)

# log
print(f"sa_1          : {sa_1}")
print(f"type(sa_1)    : {type(sa_1)}")
print(f"sa_1.dtype    : {sa_1.dtype}")
print(f"sa_1.shape    : {sa_1.shape}")
print(f"sa_1.ndim     : {sa_1.ndim}")
print(f"sa_1.nbytes   : {sa_1.nbytes}")
print(f"sa_1.size     : {sa_1.size}")
print(f"sa_1.tolist() : {sa_1.tolist()}")

sa_1          : [('Alice', 30) ('Bob', 25)]
type(sa_1)    : <class 'numpy.ndarray'>
sa_1.dtype    : [('name', '<U10'), ('age', '<i4')]
sa_1.shape    : (2,)
sa_1.ndim     : 1
sa_1.nbytes   : 88
sa_1.size     : 2
sa_1.tolist() : [('Alice', 30), ('Bob', 25)]

## Accessing Data

In [3]:
st_2 = np.array([('Alice', 30), ('Bob', 25)], dtype=[('name', 'U10'), ('age', 'i4')])

# index
index_1 = st_2[0]
index_1 = st_2[1]

# fields
field_1 = st_2['name']
field_2 = st_2['age']

# log
print(f"field_1: {field_1}")
print(f"field_2: {field_2}")

field_1: ['Alice' 'Bob']
field_2: [30 25]

## Filtering Structured Arrays

In [4]:
st_3 = np.array([('Alice', 30), ('Bob', 25), ('Charlie', 35)], dtype=[('name', 'U10'), ('age', 'i4')])

# filter
st_4 = st_3[st_3['age'] > 30]

# log
print(f"st_4: {st_4}")

st_4: [('Charlie', 35)]

## Modifying Structured Arrays

In [5]:
st_5 = np.array([('Alice', 30), ('Bob', 25)], dtype=[('name', 'U10'), ('age', 'i4')])

# modify
st_5[0]['age'] = 31
st_5[1]['name'] = "Sarah"

# log
print(f"st_5: {st_5}")

st_5: [('Alice', 31) ('Sarah', 25)]

## Combining Structured Arrays

In [6]:
dtype = [('name', 'U10'), ('age', 'i4')]
st_6 = np.array([('Alice', 30)], dtype=dtype)
st_7 = np.array([('Bob', 25)], dtype=dtype)

# combine
st_8 = np.concatenate((st_6, st_7))

# log
print(f"st_8: {st_8}")

st_8: [('Alice', 30) ('Bob', 25)]

## Using Structured Arrays with NumPy Functions

In [7]:
dtype = [('name', 'U10'), ('age', 'i4')]
st_9 = np.array([('Alice', 30), ('Bob', 25)], dtype=dtype)

# numpy functions
mean_1 = np.mean(st_9['age'])
sum_1 = np.sum(st_9['age'])

# log
print(f"mean_1: {mean_1}")
print(f"sum_1 : {sum_1}")

mean_1: 27.5
sum_1 : 55